# OTX Performance Benchmark History
## Table of Contents
1. [Anomaly Classification](#anomaly-classification)
1. [Anomaly Detection](#anomaly-detection)
1. [Anomaly Segmentation](#anomaly-segmentation)
1. [Singl-label Classificaiton](#singl-label-classificaiton)
1. [Multi-label Classification](#multi-label-classification)
1. [Hierarchical-label Classification](#hierarchical-label-classification)
1. [Object Detection](#object-detection)
1. [Instance Segmentation](#instance-segmentation)
1. [Semantic Segmentation](#semantic-segmentation)
1. [Visual Prompting](#visual-prompting)
1. [Zero-shot Visual Prompting](#zero-shot-visual-prompting)
1. [Metadata](#metadata)

## Anomaly Classification

In [13]:
import summary
summary.summarize_task("anomaly_classification")

## Anomaly Detection

In [14]:
summary.summarize_task("anomaly_detection")

## Anomaly Segmentation

In [15]:
summary.summarize_task("anomaly_segmentation")

## Singl-label Classificaiton

In [16]:
summary.summarize_task("classification/multi_class_cls")

## Multi-label Classification

In [17]:
summary.summarize_task("classification/multi_label_cls")

## Hierarchical-label Classification

In [18]:
summary.summarize_task("classification/h_label_cls")

## Object Detection

In [19]:
summary.summarize_task("detection")

## Instance Segmentation

In [20]:
summary.summarize_task("instance_segmentation")

## Semantic Segmentation

In [21]:
summary.summarize_task("semantic_segmentation")

## Visual Prompting

In [22]:
summary.summarize_task("visual_prompting")

## Zero-shot Visual Prompting

In [23]:
summary.summarize_task("zero_shot_visual_prompting")

## Metadata

In [24]:
summary.summarize_meta()